.main-header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
  color: var(--text-color-secondary);
}

.main-header-right-side {
  display: flex;

  gap: 16px;
}

.header-timer-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
