<div class="flexbox-space-between main-header">
  <div class="text-semi-bold">Project Aurora</div>
  <div class="main-header-right-side">
    <div class="header-timer-wrapper">
      <p>TimeTac:</p>
      <app-timer class="time-bold"></app-timer>
    </div>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-play"
      class="p-button-rounded p-button-secondary p-button-text"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-pause"
      class="p-button-rounded p-button-secondary p-button-text"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-home"
      class="p-button-rounded p-button-secondary p-button-text"
    ></button>
  </div>
</div>
