.main-header {
  padding: 28px;
  color: var(--text-color-secondary);
}

.main-header-right-side {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-timer-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
