.cyan-text {
  color: var(--cyan-500, #06b6d4);
}
.cyan-bg {
  background-color: var(--cyan-100, #c3edf5);
}
.purple-text {
  color: var(--purple-500, #a855f7);
}
.purple-bg {
  background-color: var(--purple-100, #ead6fd);
}
.pink-text {
  color: var(--pink-500, #ec4899);
}
.pink-bg {
  background-color: var(--pink-100, #fad3e7);
}
.yellow-text {
  color: var(--yellow-500, #eab308);
}
.yellow-bg {
  background-color: var(--yellow-100, #faedc4);
}
.green-text {
  color: var(--green-500, #22c55e);
}
.green-bg {
  background-color: var(--green-100, #caf1d8);
}
.indigo-text {
  color: var(--indigo-500, #6366f1);
}
.indigo-bg {
  background-color: var(--indigo-100, #dadafc);
}
.teal-text {
  color: var(--teal-500, #14b8a6);
}
.teal-bg {
  background-color: var(--teal-100, #c7eeea);
}
.orange-text {
  color: var(--orange-500, #f97316);
}
.orange-bg {
  background-color: var(--orange-100, #feddc7);
}
.bluegray-text {
  color: var(--bluegray-500, #64748b);
}
.bluegray-bg {
  background-color: var(--bluegray-100, #dadee3);
}
.purple-text {
  color: var(--purple-500, #a855f7);
}
.purple-bg {
  background-color: var(--purple-100, #ead6fd);
}
.red-text {
  color: var(--red-500, #ff3d32);
}
.red-bg {
  background-color: var(--red-100, #ffd0ce);
}
.rose-text {
  color: var(--rose-500, #cc3363);
}
.rose-bg {
  background-color: var(--rose-100, #d9c1c8);
}
.brown-text {
  color: var(--brown-500, #b96d40);
}
.brown-bg {
  background-color: var(--brown-100, #e6ddd8);
}
.blue-text {
  color: var(--blue-500, #3b82f6);
}
.blue-bg {
  background-color: var(--blue-100, #d0e1fd);
}
.darkgreen-text {
  color: var(--darkgreen-500, #495f41);
}
.darkgreen-bg {
  background-color: var(--darkgreen-100, #c7d8c2);
}
.blue2-text {
  color: var(--blue2-500, #1ccad8);
}
.blue2-bg {
  background-color: var(--blue2-100, #b5e3e6);
}
.darkpurple-text {
  color: var(--darkpurple-500, #642ca9);
}
.darkpurple-bg {
  background-color: var(--darkpurple-100, #dcd6e2);
}
.gray-text {
  color: var(--gray-500, #6b7280);
}
.gray-bg {
  background-color: var(--gray-100, #f3f4f6);
}
