<div class="default-card card-wrapper">
  <div class="flex align-items-center test">
    <h2>Today</h2>
    <i class="pi pi-check-circle"></i>
  </div>
  <div class="flex justify-content-between time-tracker-main">
    <div class="time-tracker-main-left-side">
      <div>Total Tracked Hours</div>
      <span class="time-bold chivo">05:36</span>
      <div>TimeTac</div>
      <span class="time-bold chivo">05:47</span>
    </div>
    <div class="time-tracker-main-middle">
      <div class="flex align-items-center service-time-wrapper">
        <i class="pi pi-bolt"></i>
        <span class="time-bold chivo color-cyan">02:11</span>
      </div>
      <div class="flex align-items-center service-time-wrapper">
        <i class="pi pi-bolt"></i>
        <span class="time-bold chivo color-cyan">00:24</span>
      </div>
      <div class="flex align-items-center service-time-wrapper">
        <i class="pi pi-bolt"></i>
        <span class="time-bold chivo color-cyan">00:51</span>
      </div>
      <div class="flex align-items-center service-time-wrapper">
        <i class="pi pi-comments"></i>
        <span class="time-bold chivo color-pruple">05:32</span>
      </div>
      <div class="flex align-items-center service-time-wrapper">
        <i class="pi pi-bolt"></i>
        <span class="time-bold chivo color-cyan">01:21</span>
      </div>
      <div class="flex align-items-center service-time-wrapper">
        <i class="pi pi-bolt"></i>
        <span class="time-bold chivo color-cyan">00:54</span>
      </div>
    </div>
    <p-chart
      type="doughnut"
      [data]="data"
      [options]="chartOptions"
      [style]="{ width: '25%' }"></p-chart>
  </div>
  <div class="flex justify-content-between">
    <div>Dispo.xyz/Fridu ORINV-420</div>
    <div class="time-bold chivo">04:39</div>
  </div>
  <div>
    <div class="flex justify-content-between">
      <div>Development</div>
      <div class="time-bold chivo">02:11</div>
    </div>
    <div class="flex justify-content-between">
      <div># 164 Vehicle dialog with new features and displayed as a side-panel</div>
      <div class="chivo">01:39</div>
    </div>
    <div class="flex justify-content-between">
      <div>#149 Add "Organization" field to case details sections</div>
      <div class="chivo">00:32</div>
    </div>
  </div>
  <div>
    <div class="flex justify-content-between">
      <div>Meeting</div>
      <div class="time-bold chivo">02:38</div>
    </div>
    <div class="flex justify-content-between">
      <div>Daily</div>
      <div class="time-bold chivo">00:17</div>
    </div>
    <div class="flex justify-content-between">
      <div>Meeting with Robert about the last feedback from BW</div>
      <div class="chivo">02:11</div>
    </div>
  </div>

  <div class="flex justify-content-between">
    <div>OR/Website ORINV-420</div>
    <div class="time-bold chivo">00:57</div>
  </div>
  <div>
    <div class="flex justify-content-between">
      <div>Development</div>
      <div class="time-bold chivo">00:57</div>
    </div>

    <div class="flex justify-content-between">
      <div>Add new Croatian HQ to the addresses</div>
      <div class="chivo">00:57</div>
    </div>
  </div>
</div>
