<div class="default-card card-wrapper">
  <div class="flex align-items-center gap-2 test">
    <p-button
      icon="pi pi-chevron-left"
      size="small"
      *ngIf="dateSelector"
      [rounded]="true"
      [text]="true"
      (onClick)="changeDate(-1)"></p-button>
    <div class="flex align-items-center gap-2">
      <h2>{{ date | niceDateName }}</h2>
      <i class="pi pi-check-circle"></i>
    </div>
    <p-button
      icon="pi pi-chevron-right"
      size="small"
      *ngIf="dateSelector"
      [rounded]="true"
      [text]="true"
      (onClick)="changeDate(1)"></p-button>
  </div>
  <app-summaries [date]="date"></app-summaries>
  <app-time-entry *ngFor="let entry of groupedTimeEntries" [timeEntryGroup]="entry" />
</div>
