<div class="flex justify-content-between time-tracker-main">
  <div class="time-tracker-main-left-side">
    <div>Total Tracked Hours</div>
    <span class="time-bold chivo">{{ totalTrackedMinutes | hoursAndMinutes }}</span>
    <div>TimeTac</div>
    <span class="time-bold chivo">05:47</span>
  </div>
  <div class="time-tracker-main-middle">
    <ng-container *ngFor="let service of services">
      <div
        class="flex align-items-center service-time-wrapper cursor-pointer"
        [ngClass]="servicesData[service.shortName].color + '-text'"
        [pTooltip]="service.service_name"
        tooltipPosition="top"
        [tooltipStyleClass]="'service-tooltip ' + servicesData[service.shortName].color">
        <i
          class="service-icon"
          [ngClass]="[
            servicesData[service.shortName].icon,
            servicesData[service.shortName].color + '-text',
            servicesData[service.shortName].color + '-bg'
          ]"></i>
        <span class="time-bold chivo">
          {{ service.minutes | hoursAndMinutes }}
        </span>
      </div>
    </ng-container>
  </div>
  <p-chart
    type="doughnut"
    [data]="chartData"
    [options]="chartOptions"
    [style]="{ width: '25%' }"></p-chart>
</div>
