<div class="flex justify-content-between align-items-center default-card">
  <form [formGroup]="workingOnForm" class="working-on-form text-semi-bold">
    <p-dropdown
      [options]="projects"
      formControlName="projectName"
      optionLabel="name"
      placeholder="Project Name"
      [filter]="true"
      filterBy="name"
      scrollHeight="400px"
      [showClear]="true">
      <ng-template let-item pTemplate="selectedItem">
        <span>
          {{
            item.name
              .substring(item.name.indexOf('/') + 1)
              .split(' ')
              .reverse()
              .slice(1)
              .reverse()
              .join(' ')
          }}
        </span>
        <span>
          <span class="working-on-form-project-code">
            {{ item.name.split(' ').pop() }}
          </span>
        </span>
      </ng-template>
      <ng-template let-project pTemplate="item">
        <div>
          <div class="text-bold working-on-form-project-name">
            {{ project.name.split(' ')[0] }}
          </div>
          <span>
            {{
              project.name
                .substring(project.name.indexOf('/') + 1)
                .split(' ')
                .reverse()
                .slice(1)
                .reverse()
                .join(' ')
            }}
          </span>
          <span class="working-on-form-project-code">
            {{ project.name.split(' ').pop() }}
          </span>
        </div>
      </ng-template>
    </p-dropdown>
    <span class="working-on-slash">/</span>
    <p-dropdown
      [options]="services"
      formControlName="service"
      optionLabel="name"
      placeholder="Service"
      filterBy="name"
      scrollHeight="400px"
      [showClear]="true">
      <ng-template let-service pTemplate="selectedItem">
        <div class="country-item working-on-service">
          <img
            src="assets/imgs/{{
              service.name.trim().split(' ').shift() === 'VIE'
                ? 'austria'
                : '' || service.name.trim().split(' ').shift() === 'PRN'
                ? 'kosovo'
                : '' || service.name.trim().split(' ').shift() === 'HRV'
                ? 'croatia'
                : ''
            }}.svg"
            alt="Country flag" />
          <span>
            {{ service.name.trim().split(' ').slice(1).join(' ') }}
          </span>
        </div>
      </ng-template>
      <ng-template let-services pTemplate="item">
        <div class="country-item working-on-service">
          <img
            src="assets/imgs/{{
              services.name.trim().split(' ').shift() === 'VIE'
                ? 'austria'
                : '' || services.name.trim().split(' ').shift() === 'PRN'
                ? 'kosovo'
                : '' || services.name.trim().split(' ').shift() === 'HRV'
                ? 'croatia'
                : ''
            }}.svg"
            alt="Country flag" />
          <span>
            {{ services.name.trim().split(' ').slice(1).join(' ') }}
          </span>
        </div>
      </ng-template>
    </p-dropdown>
    <span class="working-on-slash">/</span>
    <div class="working-on-input-wrapper">
      <input
        pInputText
        type="text"
        placeholder="What are you working on?"
        class="working-on-input no-border"
        formControlName="workingOnInput" />
    </div>
  </form>
  <div class="working-on-right-side">
    <app-timer></app-timer>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-stop-circle"
      class="p-button-rounded p-button-secondary p-button-text"></button>
  </div>
</div>
