.working-on-form {
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.working-on-form-project-name {
  font-weight: 700;
  margin-bottom: 5px;
}

.working-on-form-project-code {
  font-size: 13px;
  color: var(--text-color-secondary);
  font-style: italic;
}

.working-on-input-wrapper {
  flex: 1;
  margin-right: 10px;
}

.working-on-input {
  font-weight: 600;
  font-size: 16px;
  width: 100%;
}

.working-on-input::placeholder {
  color: var(--text-color-secondary);
}

.working-on-right-side {
  display: flex;
  align-items: center;
}
