@import './assets/scss/index.scss';
/* You can add global styles to this file, and also import other style files */

body {
  background-color: var(--surface-ground);
}

:root {
  --text-color: #1e293b;
  --text-color-secondary: #64748b;
  --text-color-tertiary: #b3b3b3;
  --primary: #3b82f6;
  --cyan-500: #06b6d4;
  --cyan-100: #c3edf5;
  --purple-500: #a855f7;
  --purple-100: #ead6fd;
  --pink-500: #ec4899;
  --pink-100: #fad3e7;
  --yellow-500: #eab308;
  --yellow-100: #faedc4;
  --green-500: #22c55e;
  --green-100: #caf1d8;
  --indigo-500: #6366f1;
  --indigo-100: #dadafc;
  --teal-500: #14b8a6;
  --teal-100: #c7eeea;
  --orange-500: #f97316;
  --orange-100: #feddc7;
  --bluegray-500: #64748b;
  --bluegray-100: #dadee3;
  --purple-500: #a855f7;
  --purple-100: #ead6fd;
  --red-500: #ff3d32;
  --red-100: #ffd0ce;
  --rose-500: #cc3363;
  --rose-100: #d9c1c8;
  --brown-500: #b96d40;
  --brown-100: #e6ddd8;
  --blue-500: #3b82f6;
  --blue-100: #d0e1fd;
  --darkgreen-500: #495f41;
  --darkgreen-100: #c7d8c2;
  --blue2-500: #1ccad8;
  --blue2-100: #b5e3e6;
  --darkpurple-500: #642ca9;
  --darkpurple-100: #dcd6e2;
  --gray-500: #6b7280;
  --gray-100: #f3f4f6;
  --success: #22c55e;
  --alert: #f59e0b;
  --table-header: #f8fafc;
  --sufrace-border: #dfe7ef;
  --surface-card: #ffffff;
  --surface-ground: #eff3f8;
}

$color-primary: #55c57a;

.default-card {
  background-color: var(--surface-card);
  padding: 10px 28px;
  border: 1px solid var(--sufrace-border);
  border-radius: 10px;
  align-items: center;
}

.country-flag {
  height: 15px;
}

.cards {
  margin-top: 8px;
  gap: 8px;
}

// ************ Helpes Classes ************
.flex {
  display: flex;
}

.flex-grow {
  flex: 1;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.chivo {
  font-family: 'Chivo Mono';
}

.time-bold {
  font-weight: 700;
}

.text-semi-bold {
  font-weight: 600;
}

// ************ Custom Prime-NG styles ************

.p-dropdown {
  border: none;
  margin: 0 10px 0 10px;
  color: var(--text-color);
  font-weight: 700;
  padding: 0 15px 0 0;

  .p-dropdown-trigger {
    color: var(--primary);
  }

  .p-dropdown-label {
    color: var(--text-color);
    &.p-placeholder {
      color: var(--text-color);
    }
  }
}

.p-inputtext {
  &.no-border {
    background: transparent;
    border: none;
    outline: none;

    &:enabled {
      &:focus {
        box-shadow: none;
        border: none;
      }
    }
  }
}

.p-cascadeselect {
  border: none;
  margin: 0 10px 0 10px;
  color: var(--text-color);
  font-weight: 700;
  padding: 0 0 0 0;

  .p-cascadeselect-trigger {
    color: var(--primary);
  }

  .p-cascadeselect-label {
    color: var(--text-color);
    &.p-placeholder {
      color: var(--text-color);
    }
  }
}

.p-inputtext {
  &.no-border {
    background: transparent;
    border: none;
    outline: none;

    &:enabled {
      &:focus {
        box-shadow: none;
        border: none;
      }
    }
  }
}

.project-selector {
  .p-cascadeselect-label {
    padding-right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
